:root {
    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fca5a5;
    --color-primary-400: #f87171;
    --color-primary-500: #ef4444;
    --color-primary-600: #dc2626;
    --color-primary-700: #b91c1c;
    --color-primary-800: #991b1b;
    --color-primary-900: #7f1d1d;
    --color-primary-950: #450a0a;
  
    --color-base-50: #f8fafc;
    --color-base-100: #f1f5f9;
    --color-base-200: #e2e8f0;
    --color-base-300: #cbd5e1;
    --color-base-400: #94a3b8;
    --color-base-500: #64748b;
    --color-base-600: #475569;
    --color-base-700: #334155;
    --color-base-800: #1e293b;
    --color-base-900: #0f172a;
    --color-base-950: #020617;
  }